<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Blog Fiscal</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Fiscal</a></h1>
    </div>

    <div>
        <h2><a href="">Como é formada a chave da NF-e !</a></h2>
        <p> chave de acesso da NF-e é um número de 44 dígitos calculadode  acordo com   o   manual   de   integração   do contribuinte (disponibilizado no portal do NF-e).(02 dígitos) *** Código do Estado (UF) do emitente (04 dígitos) *** Ano e mês da emissão da NF-e (no formato AAMM)(14 dígitos) *** CNPJ do emitente da NF-e (CNPJ da sua Empresa)(02 dígitos) *** Modelo do NF-e(03 dígitos) *** Série do NF-e(09 dígitos) *** Número da NF-e(09 dígitos) *** Código da NF-e -Número gerado pelo sistema(01 dígitos) *** Dígito verificador -DV (Cálculo no módulo 11).</p>
        <p> publicado: 26.07.2020, 10:40</p>
    </div>

    <div>
        <h2><a href="">O que é CST ?</a></h2>
        <p>O Código de Situação Tributária – CST, é utilizado para indicar a tributação das mercadorias no regime do ICMS.

            É um código composto por três dígitos e identifica não somente a tributação, como também a origem da mercadoria.

            O CST é utilizado por empresas optantes do Regime Normal de tributação, seja ela do Lucro Presumido ou Real.

            A estruturação do código é realizado de acordo com o Convênio S/Nº, de 15/12/70 da CONFAZ.</p>
        <p> publicado: 26.07.2020, 10:42</p>
    </div>

</body>
</html>